[project]
	description = ?????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/valik711
[access "refs/for/refs/*"]
	read = group user/valik711
	push = group user/valik711
	label-Code-Review = -2..+2 group user/valik711
	label-Verified = -1..+1 group user/valik711
	rebase = group user/valik711
	removeReviewer = group user/valik711
	submit = group user/valik711
[access "refs/heads/*"]
	read = group user/valik711
	create = group user/valik711
	push = +force group user/valik711
	pushMerge = group user/valik711
[access "refs/tags/*"]
	push = +force group user/valik711
	pushTag = group user/valik711
	pushSignedTag = group user/valik711
